<IfModule mod_passenger.c>
  PassengerRoot /usr/lib/ruby/vendor_ruby/phusion_passenger/locations.ini
  PassengerUser surfsara
  PassengerMaxPoolSize {{ passenger.max_pool_size }}
  PassengerMaxInstancesPerApp {{ passenger.max_instances_per_app }}
  PassengerFriendlyErrorPages {{ passenger.friendly_error_pages }}
</IfModule>
