<VirtualHost *:80>
  ServerName    {{ virtual_host }}
  DocumentRoot /var/www/useradmin/current/public

  RewriteEngine On
  RewriteCond %{HTTPS} off
  RewriteRule (.*) https://%{SERVER_NAME}$1 [R,L]
</VirtualHost>

<VirtualHost *:443>
  ServerName    {{ virtual_host }}
  ServerAdmin tech+surfsara.useradmin@zilverline.com

  DocumentRoot /var/www/useradmin/current/public

  SSLEngine on
  SSLCertificateFile    /etc/apache2/ssl/cert.pem
  SSLCertificateKeyFile /etc/apache2/ssl/key.pem

  <Directory /var/www/useradmin/current/public>
    AllowOverride all
    Require all granted
  </Directory>

  <Location />
    AuthType shibboleth
    ShibRequestSetting requireSession 1
    Require valid-user
  </Location>

  <Location /useradmin>
    PassengerBaseURI /useradmin
    PassengerAppRoot /var/www/useradmin/current
    PassengerMinInstances 4

    RackEnv {{env}}

    ErrorDocument 500 "500 Internal Server Error"
    ErrorDocument 404 "404 Not Found"
    ErrorDocument 403 "403 Access Denied"
  </Location>

  <LocationMatch "^/(?!useradmin)">
    ProxyPass "http://192.168.111.170"
    ProxyPassReverse "http://192.168.111.170"

    RequestHeader set Remote-User "%{REMOTE_USER}s"
  </LocationMatch>
</VirtualHost>
